# Ignore virtual environment
venv/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore Flask instance folder
instance/

# Ignore web assets cache
.webassets-cache

# Ignore generated images
static/generated_image.png
